button {
    background-color: var(--themePrimary);
    color: var(--light);
    border-radius: 50px;
    width: min(100%, 220px);
    padding: 15px;
    border: none;
}
button :hover{
    background-color: red;
}

button[disabled] {
    opacity: 0.5;
}