
/* .top-banner {
    background-color: #FFB700;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-weight: bold;
    font-size: 20px;
} */

.top-banner {
    background-color: #FFB700;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    overflow: hidden;
}

.banner-message {
    position: absolute;
    width: 100%;
    left: 0;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.message-1 {
    animation-name: showFirst;
}

.message-2 {
    animation-name: showSecond;
}

@keyframes showFirst {
    0% {
        opacity: 1;
    }

    49.9% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes showSecond {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    50.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.logo img {
    height: 50px;
    margin-right: 12px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
}

.nav-icons a {
    margin-left: 20px;
    font-size: 22px;
}